@import 'tailwindcss';

/* TODO: add font fallbacks */
@theme inline {
  --font-sans: var(--font-rubik);
  --font-serif: var(--font-garamond);
  --font-mono: var(--font-martian);
}

/* Custom utility classes are defined here, here's the list:
  https://tailwindcss.com/docs/theme#theme-variable-namespaces */
@theme {
  --background-image-gradient-radial: radial-gradient(var(--tw-gradient-stops));
  --background-image-gradient-conic: conic-gradient(
    from 180deg at 50% 50%,
    var(--tw-gradient-stops)
  );

  /* Primary - Deep Purple */
  --color-primary-light: #4a2a47;
  --color-primary: #231123;
  --color-primary-dark: #150a15;

  /* Secondary - Muted Green */
  --color-secondary-light: #a8c998;
  --color-secondary: #88ab75;
  --color-secondary-dark: #668558;

  /* Tertiary - Warm Peach/Orange */
  --color-tertiary-light: #e8a992;
  --color-tertiary: #de8f6e;
  --color-tertiary-dark: #b87353;

  /* Accent - Teal/Cyan */
  --color-accent-light: #5ab1c7;
  --color-accent: #2d93ad;
  --color-accent-dark: #1f768a;

  /* Highlight - Bright Yellow-Green */
  --color-highlight: #edff86;
  --color-error: #bf00ff;
  --color-success: #4ecdc4;
  --color-info: #656565;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
  .font-outline-primary-sm {
    -webkit-text-stroke: 0.0625rem var(--color-primary);
  }
  .font-outline-primary-md {
    -webkit-text-stroke: 0.125rem var(--color-primary);
  }
  .font-outline-primary-lg {
    -webkit-text-stroke: 0.25rem var(--color-primary);
  }
  .font-outline-secondary-sm {
    -webkit-text-stroke: 0.0625rem var(--color-secondary);
  }
  .text-outline-secondary-md {
    -webkit-text-stroke: 0.125rem var(--color-secondary);
  }
  .font-outline-secondary-lg {
    -webkit-text-stroke: 0.25rem var(--color-secondary);
  }
  .font-outline-tertiary-sm {
    -webkit-text-stroke: 0.0625rem var(--color-tertiary);
  }
  .font-outline-tertiary-md {
    -webkit-text-stroke: 0.125rem var(--color-tertiary);
  }
  .font-outline-tertiary-lg {
    -webkit-text-stroke: 0.25rem var(--color-tertiary);
  }
  .font-outline-accent-sm {
    -webkit-text-stroke: 0.0625rem var(--color-accent);
  }
  .font-outline-accent-md {
    -webkit-text-stroke: 0.125rem var(--color-accent);
  }
  .font-outline-accent-lg {
    -webkit-text-stroke: 0.25rem var(--color-accent);
  }
  .font-outline-highlight-sm {
    -webkit-text-stroke: 0.0625rem var(--color-highlight);
  }
  .font-outline-highlight-md {
    -webkit-text-stroke: 0.125rem var(--color-highlight);
  }
  .font-outline-highlight-lg {
    -webkit-text-stroke: 0.25rem var(--color-highlight);
  }
}

@utility text-balance {
  text-wrap: balance;
}

@layer utilities {
  :root {
    .text-shadow-sm {
      text-shadow: 0 1px 2px rgb(0 0 0 / 0.3);
    }
    .text-shadow-md {
      text-shadow: 0 1px 3px rgb(0 0 0 / 0.4);
    }
    .text-shadow-lg {
      text-shadow: 0 2px 4px rgb(0 0 0 / 0.4);
    }
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --foreground-rgb: 255, 255, 255;
      --background-start-rgb: 0, 0, 0;
      --background-end-rgb: 0, 0, 0;
    }
  }

  body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
        to bottom,
        transparent,
        rgb(var(--background-end-rgb))
      )
      rgb(var(--background-start-rgb));
    box-sizing: border-box;
  }
}
